.my-courses-container {
  width: 50%; /* Or your preferred width */
  margin: 0 auto; /* Center the container */
  padding: 2rem;
  background-color: #fff; /* White background */
}



.my-courses-header {
  text-align: center; /* Center the title */
  margin-bottom: 2rem; /* Spacing below the header */
  color: #6255A5; /* Lila color for the text */
  font-weight: bold; /* Bold font weight */
  font-size: 32px;
}

.my-course-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 20px; /* Padding top and bottom */
  border: #333 1px solid; /* Border around each item */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.my-course-icon {
  margin-right: 16px;
  width: 100px;
  height: 100px;
}

.my-course-title {
  font-weight: bold;
  flex-grow: 1; /* Title takes up remaining space */
  color: #333; /* Text color */
  margin-bottom: 10px;
}

.my-course-description {
  font-size: 0.9em;
}

.my-course-content {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}   
