.coursesTitle {
  padding: 40px 0 10px 0;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.subtitleCourses {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 200;
}
