.create-lesson-page-container {
  min-width: 600px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.create-lesson-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.create-lesson-list-container {
  border: 1px solid #ddd;
  padding: 20px;
  overflow-x: hidden; /* Предотвращаем горизонтальный скролл */
  overflow-y: auto;   /* Добавляем вертикальный скролл при необходимости */
  max-height: 450px; 
}

.create-lesson-form-container {
  border: 1px solid #ddd;
  padding: 20px;
}

.create-lesson-submit-all-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}
  
  .create-lesson-form-group textarea {
    height: 150px;
  }
  
  .create-lesson-form-group {
    margin-bottom: 20px;
  }
  
  .create-lesson-form-group label {
    font-weight: bold;
    display: block;
  }
  
  .create-lesson-form-group textarea {
    resize: none;
  }
  
  .create-lesson-form-group input[type="text"],
  .create-lesson-form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
  }
  
  .create-lesson-form-group input[type="file"] {
    border: 2px dashed #ddd;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    background: #fafafa;
    cursor: pointer;
  }
  
  .create-lesson-file-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .create-lesson-form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .create-lesson-header {
    text-align: center;
    margin-bottom: 45px;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -3px;
    color: #6255A5;
  }
  
  .create-lesson-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .create-lesson-button-container button,
.create-lesson-submit-all-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px; /* Унифицированный border-radius для всех кнопок */
  background-color: #29a354;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.create-lesson-button-container button:hover,
.create-lesson-submit-all-container button:hover {
  transform: scale(1.05);
}

.create-lesson-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  border: 1px solid #e1e1e1;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.create-lesson-list-title {
  word-break: break-word;
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: bold;
}

.create-lesson-list-content {
  word-break: break-word;
  font-size: 14px;
  color: #666;
  margin: 0 0 10px 0;
}

.create-lesson-list-remove-btn {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 10px;
}

.create-lesson-list-remove-btn:hover {
  background-color: #d32f2f;
}

.create-lesson-no-lessons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #999;
  font-style: italic;
  font-size: 20px;
}

.create-lesson-preview-img {
  max-width: 60px; 
  max-height: 60px; 
  object-fit: cover;
  margin-right: 10px;
}