.lessons-loading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
  font-size: 30px;
}

.lessons-main {
  display: flex;
  flex-direction: row; /* Элементы теперь будут в строке */
  align-items: flex-start; /* Элементы выравниваются по верхнему краю */
  width: 100%;
  padding: 20px;
  gap: 20px; /* Добавляем промежуток между контейнерами */
  min-height: 70vh;
}

.lessons-container {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  min-height: 70vh;
  overflow-y: auto;
  width: 20%; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background: #fff;
  padding: 0;
  list-style: none;
  margin: 0; /* Убираем внешний отступ, если он есть */
}

.title-photo-content-container { /* Новый класс для обертки содержимого урока */
  flex-grow: 1; /* Занимает оставшееся пространство */
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  align-items: center; /* Выравниваем содержимое по центру обертки */
  width: 100%;
  max-width: 80%; /* Максимальная ширина, чтобы контент не растягивался на всю ширину */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden; /* Обрезаем содержимое, выходящее за рамки */
}

.lesson-title {
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc; /* Добавляем границу между элементами списка */
}

.lesson-title.active {
  background-color: #6255a5;
  color: #fff;
  border-radius: 0; /* Убираем скругление, так как теперь это элемент списка */
}

.title-photo-container {
  width: 80%;
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.lesson-title-main {
  width: 100%;
  margin-bottom: 15px;
}

.lesson-photo-container {
  width: 100%;
  height: auto;
}

.lesson-photo {
  width: 30%; /* Занимаем всю доступную ширину */
  justify-content: center; /* Центрируем фото по оси X */
}

.lesson-content {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  padding: 0 20px;
  width: 100%;
}

/* Адаптивность */
/* @media (max-width: 768px) {
  .lessons-container {
    flex-direction: column;
  }

  .title-photo-container {
    width: 95%;
  }
} */

.lesson-title, .lesson-content {
  word-wrap: break-word; /* Переносит длинные слова на новую строку */
  overflow-wrap: break-word; /* Обеспечивает перенос на новую строку внутри блока */
  word-break: break-word; /* Дополнительно обеспечивает перенос слов на новую строку */
}
