.create-course-container {
  max-width: 900px; /* Установите максимальную ширину контейнера */
  margin: auto; /* Центрировать контейнер на странице */
  padding: 40px; /* Добавить внутренние отступы */
}

.main-container {
 display: grid; /* Использовать grid для размещения элементов */
  grid-template-columns: 1fr 2fr; /* Две колонки, вторая шире */
  grid-gap: 20px; /* Расстояние между колонками */
  align-items: start; /* Выровнять элементы по верхнему краю */
}

.form-group textarea {
  height: 150px; /* Установить высоту textarea */
}

.form-group {
  margin-bottom: 20px; /* Отступ между группами форм */
}

.form-group label {
  font-weight: bold; /* Сделать текст label полужирным */
}
textarea {
  resize: none; /* Disable resizing */
}
input[type="text"],
textarea {
  width: 100%; /* Ширина поля на всю доступную ширину */
  padding: 10px; /* Внутренний отступ в полях */
  border: 1px solid #ddd; /* Тонкая граница для полей */
  border-radius: 4px; /* Скругление углов полей ввода */
  resize: none; /* Запретить изменение размера */;
}

input[type="file"] {
  border: 2px dashed #ddd; /* Пунктирная граница для полей файлов */
  text-align: center; /* Текст в центре */
  padding: 20px; /* Внутренний отступ */
  border-radius: 4px; /* Скругление углов */
  background: #fafafa; /* Цвет фона */
  cursor: pointer; /* Курсор в виде указателя */
}

.file-input-container {
  display: flex; /* Выровнять блоки загрузки файлов горизонтально */
  flex-direction: column; /* Элементы в столбец */
  gap: 20px; /* Расстояние между элементами */
}

/* Отдельно стилизуем каждый блок загрузки файла */
.cover-photo-container,
.presentation-container {
  /* Применяем общие стили, определенные выше для input[type="file"] */
}

.form-buttons {
  display: flex; /* Выровнять кнопки горизонтально */
  justify-content: flex-end; /* Выровнять кнопки по правому краю */
  gap: 10px; /* Расстояние между кнопками */
}

button {
  padding: 10px 20px; /* Внутренний отступ кнопок */
  border: none; /* Убрать границу */
  border-radius: 4px; /* Скругление углов */
  cursor: pointer; /* Курсор в виде указателя */
}

.create-course-submit {
  align-items: center;
  width: 25%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #29a354;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.create-course-submit:hover {
  background-color: #45a049;
}

.create-course-header {
  text-align: center;
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -3px;
}

.create-course-button-container {
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center;
}

