.layout_container {
  position: relative;
}

.scrollToTop {
  position: fixed;
  bottom: 25px;
  right: 20px;
  color: rgb(239, 233, 236);
  background-color: #29a354;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color linear 0.3s;
}

.scrollToTop:hover {
  background-color: rgb(103, 70, 211);
}
